body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.navbar, .bslib-page-nav {
  background:#fff;
}

.navbar .nav-link,
.bslib-page-nav .nav-link {
  font-weight:600;
  letter-spacing:.3px;
  color:#fff;
}

.navbar .nav-link:hover,
.bslib-page-nav .nav-link:hover,
.navbar .nav-link.active,
.bslib-page-nav .nav-link.active {
  text-decoration:underline;
  text-underline-offset:6px;
  color:#fff;
}

.desktop-only { }

